.major-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
    position: fixed;
    height: 70px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    transition: 0.3s ease-in;
    overflow: hidden;
    background: transparent;
    padding-top: 1rem;
    padding-bottom: 1rem;

    @media only screen and (max-width: 1000px) {
        display: none;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1240px;
        margin: auto;
        height: 100%;
        padding: 0 2rem;

        .first {
            display: flex;
            gap: .5rem;
            align-items: center;

            h1 {
                font-size: 26px;
                font-weight: 900;
                line-height: 39px;
                letter-spacing: 0.03em;
                text-align: left;
            }
        }

        .second {
            display: flex;
            gap: 2rem;

            a {
                font-size: 18px;
                font-weight: 400;
                line-height: 21.6px;
                text-align: center;

            }
            .member {
               
                font-size: 16px;
                font-weight: 400;
                line-height: 21.6px;
                text-align: center;
                color: white;
                cursor: pointer;

            
        }
        }

        .third {
            display: flex;
            gap: 1rem;

            .in {
                font-size: 18px;
                font-weight: 400;
                line-height: 21.6px;
                text-align: center;
                background-color: transparent;
                padding: .5rem 1.5rem;
                border-radius: 8px;
                border: 1px solid #EBCC48;
            }

            .up {
                font-size: 18px;
                font-weight: 400;
                line-height: 21.6px;
                text-align: center;
                background-color: #EBCC48;
                padding: .5rem 1.5rem;
                border-radius: 8px;
            }

            .userInfo {
                display: flex;
                justify-content: center;
                justify-self: center;
                align-self: center;
                font-size: 16px;
                font-weight: 400;
                line-height: 19.2px;
                align-items: center;
                gap: .2rem;
                .img {
                    border-radius: 50%;
                    img {
                        border-radius: 50%;
                    }
                }

            }
        }
    }

    .active {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            bottom: -3px;
            left: 0;
            width: 100%;
            height: .15rem;
            background-color: white;
            /* Black with 15% opacity */
        }
    }
}

.nav-bg {
    background-color: white;

    @media only screen and (max-width: 1000px) {
        display: none;
    }
}



.mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: static;
    position: fixed;
    height: 70px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    transition: 0.3s ease-in;
    overflow: hidden;
    background: transparent;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;

    @media only screen and (min-width: 1000px) {
        display: none;
    }

    .first {
        display: flex;
        gap: .5rem;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 13.71px;
            font-weight: 900;
            line-height: 20.56px;
            letter-spacing: 0.03em;
            text-align: left;

        }
    }

}

.mobile-bg {
    background-color: white;

    @media only screen and (min-width: 1000px) {
        display: none;
    }
}