.member-modal,
.member-overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;

    .modal-content {
        position: absolute;
        top: 53%;
        left: 50%;
        transform: translate(-50%, -50%);
        // max-width: 35rem;
        min-width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #FFFFFF;
        padding: 2rem 4rem;
        gap: 1rem;
        border-radius: .7rem;

        .top {
            .header {
                display: flex;
                gap: .5rem;
                align-items: center;
                justify-content: center;

            }

            h1 {
                font-size: 26px;
                font-weight: 900;
                line-height: 39px;
                letter-spacing: 0.03em;
                text-align: left;

            }

            p {
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0.05em;
                text-align: left;

            }
        }

        .middle {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            .box {
                display: flex;
                flex-direction: column;
                gap: .8rem;
                justify-content: center;
                align-items: center;
                border: 1px solid #515151CC;
                border-radius: 15px;
                width: 168.52px;
                height: 162px;
                left: 188.52px;
                padding: 18.92px 19.03px 18px 18.49px;
                gap: .8rem;
                border-radius: 14.19px;
                border: 1.18px 0px 0px 0px;
               



                p {
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 22.5px;
                    letter-spacing: 0.02em;
                    text-align: center;

                }
            }
        }

        .bottom {
            button {
                font-size: 18px;
                font-weight: 600;
                line-height: 27px;
                letter-spacing: -0.05em;
                text-align: left;
                width: 144px;
                height: 51px;
                padding: 12px 40px 12px 40px;
                gap: 10px;
                border-radius: 6.93px;
               
                background-color: #EBCC48;
            }
        }
    }
}

.member-overlay {
    background: rgba(252, 252, 252, 0.5);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(8px);
    @media only screen and (max-width: 500px) {
        background: rgba(252, 252, 252, 0.7);
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px);
        background: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(8px);
    }
}


.member-modal{
    z-index: 1000;
}